.footer__contacto__logo{
    height: 94px;
}

.footer__caja__contacto{
    padding: 15px 10px;
}

.footer__caja__contacto h3{
    margin-bottom: 25px;
    margin-top: 25px;
}

.footer__caja__logo{
    justify-content: end;
    display: grid;
}

.footer{
    background: var(--color-primario);
    color: #ffffff ;
    padding: 10px 180px;
}

.footer__contacto h3{
    font-size: 20px;
}

.footer__contacto p{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
}

.footer__contacto--datos p{
    margin-bottom: 0;

}

.footer__contacto--datos a{
    text-decoration: none;
    color: white;
}

.footer__grilla__contacto{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content 1fr;
    margin-bottom: 10px;
    gap: 10px;
}

.footer .row{
    height: 100%;
    align-items: center;
    padding: 10px 0px;
}

.caja__footer{
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    gap:10px
}

@media screen and (max-width: 1450px){
    .footer__contenedor__goolemap{
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    
    .footer__columna__menus{
        display: none;
    }
}

@media screen and (max-width: 991px){
    .footer{
        padding: 10px 10px;
    }
}

@media screen and (max-width: 768px) {
    
    
}

@media screen and (min-width: 768px ) {
    .footer__contacto__logo{
        height: 190px;
    }

    .footer__caja__contacto{
        padding: 15px 0;
    }

    .footer__caja__contacto h3{
        margin-bottom: 19px;
        margin-top: 0px;
    }

    .footer__menus{
        display:grid;
        grid-auto-flow: row;
    }

    .footer__menus div p{
        margin-bottom: 0px;
    }

    .footer__menus__productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__caja__logo{
        justify-content: start;
    }

    .footer__contacto__iconos{
        display: grid;
        justify-content: center;
        grid-auto-flow: column;
        gap: 7px;
    }
}