.header__caja__menu{
    display: none;
}

.header__menu__icono{
    display: grid;
    height: 100%;
    place-content: center end;
    padding-right: 10px;
}

.header__menu__icono svg path{
    fill: var(--color-primario);
}

.menu__mobile{
    background: #fff;
    width: 200px;
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    right: 0;
}

.menu__mobile div{
    padding: 10px;
}

.header{
    height: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header2__grilla{
    height: 100%;
    display: grid;
    grid-auto-flow: column;
}

.header2__grilla__contenido{
    display: grid; 
    grid-auto-flow: row;
    grid-template-rows: 50%;
}

.header2__grilla__contenido__div img{
    height: 75px;
}

.nav__login{
    display: grid;
    justify-content: center;
    align-items: center;
}

.nav__login span{
    cursor: pointer;
}

.nav__login__texto{
    margin-left: 10px;
}

.nav__icon{
    display: grid!important;
    justify-content: center;
}

@media screen and (min-width:768px) {
    
    .header__caja__menu{
        display: flex;
    }
    .menu__mobile{
        display: none;
    }

    .header2__grilla__contenido__div{
        display: grid;
        justify-content: center;
    }

}


@media screen and (max-width: 728px) {
    .header__caja__menu{
        display: none;
    }
}

.contenedor__logout{
    position: absolute;
    margin-top: 10px;
    background-color: white;
    padding: 5px 20px;
    display: grid;
    border-radius: 0px 0px 10px 10px;

    &__contenido{
        display: grid;
        grid-auto-flow: column;
        padding: 5px 10px;
        gap: 10px;

        a{
            padding: 0!important;
        }
    }
}