.header__caja__menu{
    display: none;
}

.header__menu__icono{
    display: grid;
    height: 100%;
    place-content: center end;
    padding-right: 10px;
}

.header__menu__icono svg path{
    fill: var(--color-primario);
}

.nav__login{
    display: grid;
    justify-content: center;
    align-items: center;
}

.nav__login span{
    cursor: pointer;
}

.nav__login__texto{
    margin-left: 10px;
    font-size: 14px;
}

@media screen and (min-width:768px) {
    
    .header__caja__menu{
        display: flex;
    }

}


@media screen and (max-width: 728px) {
    .header__caja__menu{
        display: none;
    }
}

.contenedor__logout{
    position: absolute;
    background-color: white;
    padding: 5px 20px;
    display: grid;
    border-radius: 0px 0px 10px 10px;

    &__contenido{
        display: grid;
        grid-auto-flow: column;
        padding: 5px 10px;
        gap: 10px;

        a{
            padding: 0!important;
            font-size: 14px;
        }
    }
}


.header{
    position: relative;
    z-index: 1;
    height: 75px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @include breakPoint($medium){
        height: 170px;
    }

    &__caja{
        height: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 0px 1fr 0px;

        @include breakPoint($medium){
            grid-template-columns: inherit
        }

        &__contenido{
            display: grid; 
            grid-auto-flow: column;
            grid-template-columns: 70% 30%;
            grid-template-rows: initial;
            align-items: center;
            padding: 0 15px;

            @include breakPoint($medium){
                grid-auto-flow: row;
                grid-template-rows: 30px 1fr 65px;
                grid-template-columns: initial;
                align-items: initial;
            }

            &__menu{
                display: none;

                @include breakPoint($medium){
                    display: block;
                }

                &__desktop{

                    &__lista{
                        display: grid;
                        grid-auto-flow: column;
                        justify-content: end;
                        gap: 20px;
                        margin-bottom: 0;
                        padding: 5px 0px;

                        &__item{

                            a{
                                font-size: 14px;
                                color: black;
                            }
                        }
                    }
                }
            }

            &__img {

                @include breakPoint($medium){
                    display: grid;
                    justify-content: center;
                }

                img{
                    height: auto;
                    width: 190px;

                    @include breakPoint($medium){
                        height: 75px;
                        width: auto;
                    }
                }
            }

            &__menus__mobile {
                display: grid;
                grid-auto-flow: column;
                align-items: center;
                align-items: center;
                justify-items: center;

                a{

                    svg{
                        width: 30px;
                        
                        path{
                            fill: $primary_color;
                        }
                    }
                }
            }
        }

        &__menu__mobile{
            position: absolute;
            z-index: 1;
            background: white;
            width: 100%;
            border-radius: 0px 0px 25px 25px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

            ul{
                padding: 10px 20px;
                text-align: end;
                display: grid;
                justify-items: end;

                li{
                    padding: 5px 0;
                    width: min-content;

                    &:hover{
                        color: $primary_color;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &__productos{

        display: none;

        @include breakPoint($medium){
            display: grid;
            align-content: end;
            justify-content: center;
            height: 100%;
        }

        

        &__lista{
            margin: 0px;
            margin-top: 11px;
            display: flex;
        
            &__familia{
                display: grid;
                grid-auto-rows: 40px 1fr;
                // align-items: center;

                &:hover > a{
                    background-color: white;
                    color: #0C2695;
                }

                &:hover > ul{
                    display: grid;
                }

                a{
                    background-color: #0C2695;
                    padding: 8px 12px;
                    color: white;

                    &:hover{
                        color: #0C2695;
                    }
                }

                &__subfamilia{
                    display: none;
                    min-height: 75px;
                    background-color: white;
                    padding: 8px 12px;
                    position: absolute;
                    margin-top: 40px;
                    min-width: 150px;

                    li{
                        color: #0C2695;
                        cursor: pointer;

                        &:hover{
                            text-decoration: underline;
                            text-decoration-color: #0C2695;
                        }
                    }
                }
            }
        }
    }
}