.login{
    margin-top: 100px;
}

.login div:nth-child(2){
    text-align: center;
}

.caja__login{
    display: grid;
    width: 400px;
    border: 2px solid var(--color-primario);
    padding: 30px 20px;
    border-radius: 15px;
    justify-items: center;
    margin: auto;
}

.caja__login h1{
    margin-bottom: 0;
}

.caja__inputs{
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    width: 250px;
    padding: 40px 0;
}

.caja__login button{
    width: 250px;
}

.contenedor__login{
    background-color: white;
    padding: 20px;
    display: grid;

    &__titulo{
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }

    &__group{
        margin-bottom: 20px;

        &__recovery{
            cursor: pointer;
            margin-top: 5px;
            float: right;
        }
    }

    &__button{
        margin: auto;
    }

    &__registrar{
        margin-top: 15px;
        text-align: center;
        font-size: 14px!important;
    }
} 

.contenedor__login__cont__button{
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
}