.nosotros__caja{
    background-image: url('../img/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 30px;
    
    @include breakPoint($large){
        margin-bottom: 3rem;
        padding-bottom: 0px;
    }
}

.nosotros{
    display: grid;
    grid-auto-flow: row;
}

.nosotros__logo{
    justify-items: center;
    display: grid;
}

.nosotros__logo img{
    width: 230px;

    @include breakPoint($large){
        width: 400px;
    }
}

.nosotros__texto{
    text-align: justify;
    font-size: 16px;
    padding: 0 20px;

    @include breakPoint($large){
        padding: 0;
        font-size: 20px;
    }
}


