.pagar{
    // display: grid;
    // grid-auto-flow: column;
    // grid-template-columns: 70% 30%;
}

.pagar__seccion__productos, .pagar__seccion__total{
    padding: 30px;
}

.pagar__seccion__total{
    height: min-content;
}

.pagar__tabla{
    display: grid;
    grid-auto-flow: column;
}

.pagar__seccion__productos__boxBoton{
    justify-content: end;
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
}

.total__productos__caja{
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    grid-template-rows: repeat(5, min-content);
}

.total__productos__productos{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.total__productos__productos p{
    margin: 0;
}

.caja__getnet{
    padding: 15px;
    background-color: #f0f1f2;
}

.caja__getnet__btn{
    background-color: white;
    padding: 15px;
}

.total__productos__caja h3{
    font-size: 20px;
}

.total__productos__subtotal{
    font-weight: bold;
    margin: 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.total__productos__subtotal p{
    margin: 0;
}

.total__productos__caja{
    display: grid;
    gap: 10px;
}

.formPagoCampos{
    padding:20px 0px;

    &__obligatorio{
        color: red;
    }

}

.formPagoCampos .form-group{
    margin-bottom: 20px;
}

.pagar{
    min-height: calc(100vh - 250px);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100%;

    @include breakPoint($large){
        min-height: auto;
        grid-template-columns: 70% 30%;
    }

    &__procesando{
        margin-top: 30px;

        &__contenido{
            display: grid;
            justify-items: center;
        }
        
    }
}

.pagado{
    padding: 50px;
    display: grid;
    justify-content: center;
    &__aprobado{
        width: 450px;
        border: 1px solid #f0f1f2;
        padding: 30px;
        display: grid;
        gap: 10px;
        margin-bottom: 40px;

        &__img{
            width: 300px;
        }

        &__items{
            padding: 10px 20px;

            div{
                display: grid;

                div{
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: space-between;

                    p{
                        margin: 0;
                    }
                }

                
            }

            &__caja{

                margin-bottom: 10px;
                &__sku{
                    font-size: 13px;
                    color: #727574;
                    margin-bottom: 0;
                }
            }

            
        }

        &__total{
            display: grid;
            grid-auto-flow: column;
            justify-content: space-between;
        }

        &__titulo{
            font-size: 26px;
            text-align: center;
            margin-bottom: 20px;
        }

        &__datos{
            margin-bottom: 10px;

            p{
                margin: 0;
                font-size: 16px;
            }
        } 
    }

    &__rechazado{
        display: grid;
        justify-items: center;
        background-color: #f0f1f2;
        border:1px solid #727574;
        border-radius: 20px;
        padding: 20px 50px;
        margin-bottom: 40px;

        &__motivo{
            font-size: 16px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 0;
        }

        &__desc{
            text-align: center;
        }

        &__btn{
            display: grid;
            justify-content: space-between;
            grid-auto-flow: column;
        }
    }
}