.card-img-top{
    width: 100%;
    height: 150px;
    align-self: center;
}

.card-body{
    background: #ECF9FF;
    border-radius: 0px 0px 7px 7px;
    padding: 0;
    display: grid;
}

.card__cuerpo__textos{
    padding: 1rem 1rem 0 1rem;
}

.card-categoria{
    color: #727574;
    font-size: 13px;
}

.card-categoria:hover{
    text-decoration: underline;
}

.card-producto{
    width: 200px;
    border: 1px solid #19A7CE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-rows: 198px 1fr;
}

.card-producto:hover{
    animation: bounce;
    animation-duration: .8s;
}

.cards-group{
    overflow: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:20px;
    padding-top: 20px
}

.card__opciones{
display: grid;
grid-auto-flow: column;
grid-template-columns: 60% 40%;
align-self: end;
}

.card__opc__ver{
    background-color: var(--color-primario);
    display: grid;
    border-radius: 0 0 0 5px;
}

.card__opc__ver p{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0;
    align-self: center;
}

.card__img__cart{
    background: #ffdf00;
    display: grid;
    border-radius: 0 0 5px 0;
}

.card__img__cart svg{
    justify-self: center;
}

.card__img__cart svg path{
    fill: white;
}

.card-title:hover{
    text-decoration: underline;
}

.productos__cuerpo{
    background-image: url('../img/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

.productos__banner{
    height: 175px;
    place-content: center;
    display: grid;
    background-image: url('../img/productos/bannerProductos.webp');
}

.productos__banner h1{
    font-weight: bold;
    color: white;
}

.filtro__titulo{
    border-bottom: 2px solid var(--color-primario);
}

.botonLupa{
    padding: 5px 20px;
    background: var(--color-primario);
    border: 0;
    border-radius: 0 6px 6px 0;
}

.producto{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50%;
    background-color: #ECF9FF;
    height: 500px;
    padding: 0;
}

.producto__info{
    padding: 30px;
    display: grid;
}

.producto__info__desc{
    display: grid;
    grid-template-rows: min-content min-content;
}

.producto__info__desc--categoria{
    color: #727574;
    font-size: 18px;
    cursor: pointer;
    width: min-content;
}

.producto__info__desc--categoria:hover{
    color: #727574;
    text-decoration: underline;
}

.producto__info__desc--precio{
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    align-self: center;
}

.producto__info__desc--stock{
    background: springgreen;
    color: white;
    font-weight: normal;
    margin: 0;
    padding: 0px 11px;
    width: fit-content;
    border-radius: 12px;
    font-size: 18px;
    height: min-content;
    align-self: center;
}

.producto__info__cantidad{
    height: 40px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: fit-content(60px) 125px fit-content(60px);
    background-color: white;
    width: fit-content;
    border-radius: 10px;
    align-self: end;
    margin-bottom: 30px;
}

.producto__info__cantidad--sumar{
    border-radius: 10px 0px 0px 10px;
}

.producto__info__cantidad--restar{
    border-radius: 0px 10px 10px 0px;
}

.producto__info__cantidad a{
    height: 100%;
    width: 60px;
    border: 1px solid black;
    font-size: 24px;
    color: white!important;
    background-color: var(--color-primario);
    text-align: center;
}

.producto__info__cantidad label{
    text-align: center;
    align-self: center;
}

.producto img{
    width: 100%;
    height: 500px;
}

.producto__info__desc--carrito{
    border: 0;
    background: yellow;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
}    

.producto__info__cantidad-totalizar{
    display: grid;
    grid-template-rows: auto repeat(2, min-content);
}

.producto__info__cantidad-totalizar span{
    align-self: end;
}

.producto__info__cantidad-totalizar button{
    width: fit-content;
    height: fit-content;
}

.productos__lista{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 30px 0px;
    row-gap: 40px;
}

.productos__cuerpo{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10px 1fr 10px;
}

.productos__filtro{
    display: grid;
    gap: 15px;
}

.productos__cuerpo__caja{
    display: grid;
    grid-template-rows: 45px;
}

.miga{
    padding: 20px 0px;
}

@media screen and (min-width:576px) {

    .productos__lista{
        grid-template-columns: 50% 50%;
    }
}

@media screen and (min-width:768px) {
    
    .productos__barraBusqueda{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 70% 1fr;
    }

    .productos__barraBusqueda form{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 85% 1fr;
    }

    .productos__barraBusqueda form input{
        height: 45px;
        border-radius: 6px 0px 0px 6px;
        border: 0;
        padding: 0px 10px;
    }

    .productos__barraBusqueda div{
        width: fit-content;
    justify-self: end;
    }

    .card__cuerpo__textos{
        height: 120px;
        display: grid;
        grid-template-rows: min-content 1fr min-content;
    }

    .productos__lista{
        justify-items: center;
        margin: 30px 0px;
        row-gap: 40px;
    }

    .productos__lista{
        grid-template-columns: 33.333% 33.333% 33.333%;
    }

}

@media screen and (min-width:992px) {
    .productos__cuerpo{
        grid-template-columns: 8% 1fr 8%;
    }

    .productos__filtro{
        grid-auto-flow: column;
        grid-template-columns: 15% 1fr;
        gap: 30px;
    }

    .productos__lista{
        grid-template-columns: 33.333% 33.333% 33.333%;
    }
}

@media screen and (min-width:1200px) {

    .productos__lista{
        grid-template-columns: 25% 25% 25% 25%;
    }
}

.productos{

    &__categorias{

        &__caja{
    
            &__titulo{
                border-bottom: 2px solid var(--color-primario);
            }
    
            &__seleccionados{
    
                display: grid;
                gap: 5px;
    
                div{
                    background-color: white;
                    border: 1px solid var(--color-primario);
                    border-radius: 25px;
                    display: grid;
                    grid-auto-flow: column;
                    grid-template-columns: max-content max-content;
                    padding: 3px 13px;
                    width: min-content;
                    gap: 10px;
    
                    p{
                        margin: 0;
                    }
    
                    label{
                        cursor: pointer;
    
                        &:hover{
                            color: var(--color-primario);
                            font-weight: bolder;
                        }
                    }
                }
            }
    
            &__detalle__categorias{
                
                li{
                    padding: 5px 20px;
    
                    &:hover{
                        font-weight: bold;
                        color: var(--color-primario);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &__filtrar{

        grid-template-rows: 45px;

        &__filtro{

            button{
                background: #FFFFFF;
                border: 1px solid #8C8C8C;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                height: 100%;
                font-size: 18px;
                width: 230px;
                display: grid;
                grid-auto-flow: column;
                justify-content: space-around;
                align-content: center;
                align-items: center;
            }

            div{
                width: 230px;
                background: white;
                z-index: 1;
                position: relative;

                ul li{
                    padding: 5px 15px;

                    &:hover{
                        color: var(--color-primario);
                        font-weight: bolder;
                        cursor: pointer;
                    }
                }
            }

        }
    }
}

